/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * provides css styling for adding individual recipes
 *
 *
 */
body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  transition: background-color .5s;
  background-color: lightgrey;
  overflow-y: auto;
}

h2 {
  margin-left: 40px;
  font-family: Charcoal, sans-serif;
  color: #222222;
}


textarea {
  padding: 5px;
  width: 96%;
  height: 60%;
  border: 15px steelblue;
  align-content: center;
  row-span: inherit;
  column-span: all;

}

* {
  box-sizing: border-box;
}

.myTable {
  width: 100%;
  background-color: lightgrey;
  margin: 5px;
}

.myBox {
  border: 1px solid black;
  width: 30px;
}

table.myTable td, th, tr, input {
  /*border: 1px solid black;*/
}

table.myTable input {
  font-size: larger;
  background-color: #f1f1f1;
  width: 100%;
}

table.myTable button {
  font-size: large;
  background-color: #f1f1f1;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  max-height: 90vh;
}

.footer {
  position: fixed;
  left: 0;
  padding-bottom: 20px;
  bottom: 0px;
  width: 100%;
  background-color: lightgrey;
  color: white;
  text-align: center;
}

.left-half {
  float: left;
  margin-left: 20px;
  width: 10%;
}

.right-half {
  float: left;
  margin-left: 2px;
  width: 84%;
  height: 70%;

}

.column_header {
  text-align: center;
  height: 20%;
  padding: 10px;


}

.column_div {
  float: left;
  margin-left: 2px;
  width: 90%;
  padding: 5px;
  height: 80%;

}

.col-md-6 {
  width: 100%;
  font-size: larger;
  overflow-x: auto;
  height: 700px;
}


.column_div {
  float: left;
  margin-left: 2px;
  width: 45%;
  padding: 5px;
  height: 80%;

}


/* main columns for required, on-hand, and buy this lists */
.column {
  float: top;
  margin-left: 2px;
  width: 33%;
  padding: 10px;
  height: 1200px;
}

/* upper sub row for current meals and others list */
.column2 {
  /*float: left;*/
  /*margin-left: 2px;*/
  margin: auto;
  width: 60%;
  padding: 10px;
  height: 900px;
}

/* top row for recipe and items links*/
.column3 {
  float: left;
  margin-left: 20px;
  width: 15%;
  padding: 10px;
  height: 50px;
}

.add_recipe_form, .add_items_form , .ingredient_list{
  float:left;
}

.main_center_column {
  margin: auto;
  width: 60%;
  padding: 10px;
  height: 900px;

}

.add_items_form{
  height: 60%;

}
.add_input{
  background-color: #f1f1f1;
  margin: 3px;
}

.left_side_column {
  float: left;
  margin-left: 20px;
  width: 15%;
  padding: 5px;
  height: 80vh;
  /*background-color: #888888;*/
  /*opacity: 80%;*/
}

.left_side_column:hover {
  opacity: 0.90;
  filter: alpha(opacity=0.90);
}

/* top row header label */
.column4 {
  float: left;
  margin-left: 2px;
  margin-top: 5px;
  width: 38%;
  padding: 5px;
  height: 50px;
}

/* test div for buttons */
.buttonDiv {
  float: left;
  margin-left: 2px;
  margin-top: 5px;
  width: 20%;
  height: 50px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  color: #222222;
  margin-top: 20px;
  font-family: Impact, Charcoal, sans-serif;
}

ol {
  /*margin-left: 40px;*/
  font-family: Charcoal, sans-serif;
}

/* Remove margins and padding from the list */
ul {
  margin-left: 0;
  font-family: Charcoal, sans-serif;
}

/* Style the list items */
ul li {

  cursor: pointer;
  position: relative;
  padding: 0 8px 12px 5px;
  font-size: 18px;
  transition: 0.2s;
  list-style-type: none;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes)
ul li:nth-child(odd) {
    background: #f9f9f9;
}*/

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

.input[type="submit"] {
  background: #888;
  width: 50vh;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
.header {
  background-color: lightgrey;
  /*padding: 0 40px;*/
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 5px;
  float: left;
  font-size: 16px;
  color: #222222;
}


/* Style the "Add" button */
.addBtn {
  padding: 5px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}


h1 {
  height: 10px;
  margin-top: 5px;
}


form * {
  display: block;
  margin: 10px;
}


th {
  background-color: #555555;
  color: #dddddd;
  text-align: left;
  font-size: larger;

}

td {
  margin: 5px 15px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn {
  font-size: 25px;
  cursor: pointer;
  background: lightgrey;
  border: 1px solid black;
}

.btn2 {
  font-size: 20px;
  margin-left: 7px;
  cursor: pointer;
  background: lightgrey;
  opacity: 10;
}

.upload-btn-wrapper input[type=file] {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  background: #888;
}
.add_ingredient_btn_wrapper{
   font-size: 20px;
  cursor: pointer;
  margin-left: 0px;
  width: 25%;
  padding: 10px;
  height: 50px;
}

.open_btn_wrapper {
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
  width: 25%;
  padding: 10px;
  height: 50px;
}

.sideNavClass {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sideNavClass a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sideNavClass a:hover {
  color: #f1f1f1;
}

.sideNavClass .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
  background-color: lightgrey;
}

@media screen and (max-height: 450px) {
  .sideNavClass {
    padding-top: 15px;
  }

  .sideNavClass a {
    font-size: 18px;
  }
}

.cabinet_header, .cook_book_header {
  box-sizing: border-box;
  margin-top: 25px;
  width: 100vh;
}

.cabinet, .cook_book {
  margin-left: 5px;
  height: 70vh;
  overflow-y: auto;
  width: 100vh;
}

.cabinets_ta, .cook_book_ta, .table_hdr {
  box-sizing: border-box;
  width: 100%;
  background-color: #555555;
  color: lightgrey;
  font-size: larger;

}

.ok {
  width: 100%;
  background-color: #555555;
  color: lightgrey;
  font-size: larger
}

.ok_box {
  width: 100%;
}

